*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

header{
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    align-items: center;
    
}

header button{
   
    border: none;
    border-radius: 12px;
    background-color:rgb(176, 176, 238) ;
    padding:10px 25px;
    height: 45px;
    color: rgb(26, 16, 16);
    font-weight: bold;
    
}

header img{
    margin-right: auto;
}

.section-one{
    display: flex;
    justify-content: space-around;
    
   
}
.section-one h1{
    font-size:400%;
}

.section-one p{
    font-size:200%;
}

.section-one button{
    border: none;
    padding:25px;
    border-radius: 20px;
    background-color: rgb(173, 191, 209);
    font-weight: bold;
   letter-spacing: 2px;
}

.one-left{
    display: flex;
    flex-direction: column;
    width: 40vw;
    gap:30px;
    
    
}

.one-right{
    display: flex;
    flex-direction: column;
    width: 30vw;
    align-items: center;
    justify-content: center;
}

.section-two{
    background: url('./section2.jpg') no-repeat; 
    background-size: cover;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    

}

.section-two h2{
    font-size:300%;
    color: whitesmoke;
}

.section-two > p{
    font-size: 180%;
    color: wheat;
}

.section-two .cards-container{
    display: flex;
    gap: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.section-two .cards-container .card{
    background-color: gray;
    border-radius: 25px;
    padding:20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

.section-two .cards-container .card svg{
    height: 70px;
}

.section-three{
    display: flex;
}

.s3-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:40px;
}

.s3-right h2{
    font-size:300%;
}

.s3-right  p{
    font-size: 125%;
    padding: 17px;
    
}

.s3-right button{
    width: 170px;
    border-radius: 12px;
    background-color: rgb(46, 112, 133);
    margin-left: 140px;
    border: none;
    font-weight: bold;
}